*{
    margin: 0px;
    padding: 0%;
}
header{
    width: 105%;
}
.top{
  
    text-align: center;
    background-color: black;
    padding: 1%;
 
    
}
p,span{
    color: rgba(224, 218, 218, 0.979); 
}
p{
    margin-left: 20%;
}
span{
    text-decoration: underline;
    
}
i{
margin-left:  35%;
}
.navbar{
    display: flex;


}
.nav-link{
    display: flex;
    margin-left: 3%;
    gap: 20px;
   list-style: none;
    text-transform: capitalize;
  font-size:large;
}
.navbars{
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Lexend", serif;
    margin-left: 8%;
 font-weight:900;
    
}
.nav-links{
    margin-top: 9%;

}
a{
    color: black;
}
span{
    color: black;
    text-decoration: none;
}
.button{

  background-color: rgba(216, 213, 213, 0.877);

}
.btn{
    margin-top: 1%;
    width: 40%;
    margin-left: 3%;
    text-align: start;
    border-radius: 33px;
    color: gray;
    font-size: 15px;
}
.fa.fa-search{
    margin-right: 2%;
    color: gray;
    font-size: 20px;
}
.fa.fa-shopping-cart{
    margin-left: 80%;
    color: black;
    font-size: 25px;
}
.fa.fa-user{
    margin-left: 3%;
    color: black;
    font-size: 25px;
   
}
.texts{
    background-color:#ecebeb;
    height: 101.7vh;
    display:flex;
  
}
.text{
    width: 100%;
    font-size: 70px;
    text-transform: uppercase;
    font-family: "Lexend", serif;
    font-weight: 900;
    color: black;
    padding-top: 9%;
    padding-left: 15%;

}
.para{
    color: gray;
    margin-left: 15%;
    margin-top: 2%;
    width: 90%;
    font-size: 16px;
    font-family: "Lexend", serif;
}
.logo{

height: 120vh;
width: 30%;
background-repeat: no-repeat;
background-position: center;
margin-right: 40%;
margin-top: 10%;


   
}
.abs{
 margin-left: 15%;
 padding: 18px;
 width: 32%;
 border-radius: 30px;
 text-transform: capitalize;
 font-size: 17px;
 color: white;
 background-color: black;
 border: none;
 margin-top: 3%;
}
.ss{
    color: black;
 
}
.ss1{
    color: black;
    margin-left: 2%;
}
.ss2{
    color: black;
}
.aa{
    color: gray;
 

  
}
.aa1{
    color: gray;
  

}
.aa2{
    color: gray;
    margin-left: 2%;

}  
.a{
    display: flex;
    margin-top: 7%;
    font-size: 50px;
    font-family: "Lexend", serif;
    font-weight: 600;
    gap: 4%;
    margin-left: 18%;

}
.s{
    display: flex;
    gap: 5%;
 margin-left: 18%;
    text-transform: capitalize;
    font-family: "Lexend", serif;
    font-size: 17px;

}
.ss{
 padding-right: 10.4%;
    border-right: 1px solid rgb(190, 190, 190);
}
.aa{
    border-right: 1px solid rgb(190, 190, 190);
    padding-right: 2.2%;
}
.ss1{
    padding-right: 3.4%;
       border-right: 1px solid rgb(190, 190, 190);
   }
   .aa1{
       border-right: 1px solid rgb(190, 190, 190);
       padding-right: 2.2%;
   }

footer{
    width: 105%;
}
.border{
    border: 1px solid  ;
    height: 20vh;
    background-color: black;
} 
.b1,.b2,.b3,.b4,.b5{
    color: white;
}
.abc{
    color: rgba(224, 218, 218, 0.979);
    text-decoration: underline;
}
.ta{
    margin-left: 2%;
    display: flex;
    padding: 2%;
    gap: 7.8%;
    font-size: 50px;
    text-transform: uppercase;
}
.b5{
    text-transform: capitalize;
}

.b1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.b4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.b2{
    font-family:'Times New Roman', Times, serif;
}
.b3{
    font-family: 'Courier New', Courier, monospace;
}
.soni{
text-transform: uppercase;
text-align: center;
font-size: 50px;
font-family: "Lexend", serif;
font-weight: 900;
color: black;
margin-top: 7%;
}
.card{
  
    border: 1px solid black;
    height: 60vh;
    width: 25%;
}